Lyrics.com/.vs/config/applicationhost.config
Lyrics.com/.vs/Lyrics.com/v15/Server/sqlite3/db.lock
Lyrics.com/Lyrics.com/obj/Debug/Lyrics.com.csprojAssemblyReference.cache
Lyrics.com/Lyrics.com/obj/Debug/Lyrics.com.csproj.CoreCompileInputs.cache
Lyrics.com/.vs/Lyrics.com/v15/Server/sqlite3/storage.ide-wal
Lyrics.com/.vs/Lyrics.com/v15/Server/sqlite3/storage.ide-shm
Lyrics.com/.vs/Lyrics.com/v15/.suo
Lyrics.com/Lyrics.com/obj/Debug/Lyrics.com.pdb
Lyrics.com/Lyrics.com/obj/Debug/Lyrics.com.dll
Lyrics.com/Lyrics.com/obj/Debug/Lyrics.com.csproj.FileListAbsolute.txt
Lyrics.com/Lyrics.com/bin/Lyrics.com.pdb
Lyrics.com/Lyrics.com/bin/Lyrics.com.dll
